@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/Anuphan/Anuphan.css');
@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/K2D/K2D.css');

body {
  font-family: 'K2D', sans-serif;
}

h3 {
  font-family: 'Anuphan', sans-serif;
  font-size: 25px;
}

a, button  {
  font-family:  'K2D', sans-serif;
}

table, td, tr {
  font-size: 13px;
  position: relative;
  max-width: 800px;
  margin: 10px;
  overflow: hidden;
  border: 1px solid black;
  /* border-collapse: collapse; */
}
