@import url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@6/fonts/Anuphan/Anuphan.css');
body, button {
  font-family: 'Anuphan', sans-serif;
}



table, td, tr {
  position: relative;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border: 1px solid #000;
  background: #f9f9f9;
}
